---
import Header from "../components/Header.astro";
import Profile from "../components/Profile.astro";
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import TimeLine from "../components/TimeLine.astro";
import Project from "../components/Project.astro";
import Stack from "../components/Stack.astro";

import { projects } from "../data/projects.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Dylan Gonzalez | Portfolio">
  <Header />

  <main class="mt-16 md:mt-0">
    <Profile />
  </main>

  <Section title="Experiencia" id="experience">
    <TimeLine />
  </Section>

  <Section
    title="Proyectos"
    id="projects"
    classes="bg-gradient-to-r from-neutral-900 to-slate-900"
  >
    {
      projects.map((project, i) => (
        <Project
          side={i % 2 === 0 ? "left" : "right"}
          title={project.title}
          description={project.description}
          image={project.image}
          link={project.link}
          github={project.github}
          techStack={project.techStack}
        />
      ))
    }
  </Section>

  <Section title="Tecnologías" id="stack">
    <Stack />
  </Section>

  <Section title="" id="contact">
    <Footer />
  </Section>
</Layout>
